* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1f1652;
}

nav ul{
    max-width: 150px;
    height: 100vh;
    background: #1f1652;
    border-top-right-radius: 60px;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    display: fixed;
    top: -20px;
    left:20px;

}
ul.show{
    left:0;
   }
.container {
    display: flex;
}

.leftSide {
    width: 15%;
}

.rightSide {
    width: 85%;
}

#my__logo {
    margin: 40px 10px;
    max-width: 100px;
    padding: 0 10px;
    background: #fff;
    border-radius: 20px;
}

.list{
align-items: center;
margin-top: 100px;
gap: 10px;
}
.list li{
    margin-top: 20px;
}
.back__btn{
    cursor: pointer;
    background: #fff;
    max-width: fit-content;
    margin:200px auto  0 auto;
    border-radius: 50%;
    padding: 2px 5px;
}
.backBTN{
    max-width: 30px;

}

nav a {
    color: #fff;
    margin-top: -30px;
}

.photo {
    max-width: 30px;
    outline: 1px solid #1f1652;
    border-radius: 50%;
    margin-left: 15px;
}

.profile {
    margin: 20px 40px;
}

hr {
    position: fixed;
    width: 65px;
    right: 40px;
    margin-top: -2.8px;


}

#profil__name {
    margin-left: 4px;
}

/* HERO SECTION */
/* ################################# */
/* the beginning of header CSS */

header {
    height: 10%;

}

.profiles {
    float: right;
    margin: 10px 40px 0 0;

}

#profile {
    margin: 0 0 0 10px;
}

#my__name {
    margin-top: -5px;
}
#my__nameSidebar{
    display: none;
    color:white;
    font-size: 12px;
    margin-top: 8px;
    margin-left: -10px;
   
}

#profile {
    max-width: 45px;
    outline: 1px solid #1f1652;
    border-radius: 50%;
}
#profileSidebar {
    display: none;
    max-width: 40px;
    outline: 1px solid #1f1652;
    border-radius: 50%;
    margin: -30px 50px 0 50px;
}
.menu{
    display: none;
    max-width: 25px;
    max-height: 25px;
    cursor: pointer;
}

/* the end of header CSS */
/* ################################# */
/* the beginning of main CSS */
main {
    height: 80%;
   
}
main h1{
    text-align: center;
    font-size: 1.5rem;
}
.cards_Main_bords{
    display: flex;
}
main .leftCards{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
main .rightCards{
    width: 50%;
    display: flex;
    flex-direction: column;
}
 #word{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-top: -20px;
    color: #fff;
}
.cards_Main_bords #count{
    font-size: 2rem;
    font-weight: bolder;
    color: #1f1652;
    border: 1px solid white;
    background: #fff;
    padding: 20px 15px;
    border-radius: 50%;
    min-width: inherit;
   
}
#likeICN{
   
    margin-left: -60px;

}
#viewICN{
   
    margin-left: -55px;
    width: 50px;

}
.comentIcon{
margin-left: -60px;
margin-top: 50px;
padding-bottom: -20px;
}
#comentICN{
width: 40px;
padding-right: 20px;
}
.leftCards label{
    display: inline-block;
    justify-content: space-between;
    width: fit-content;
    border: 1px solid #1f1652;
    padding: 20px 0 20px 40px;
    margin: 50px auto;
    border-radius: 50px;
    background: #1f1652;
}
.rightCards{
    margin-top: 40px;
}
.rightCards label{
    display: inline-block;
    justify-content: space-around;
    width: fit-content;
    border: 1px solid #1f1652;
    padding: 20px 0 20px 40px;
    margin:auto 0;
    border-radius: 50px;
    background: #1f1652;
}

/* the beginning of Table design CSS */
/* ################################# */


.table_box{
    margin: 50px auto;
  }
.table_row{
    display: table;
    width: 80%;
    margin: 10px auto;
    background: transparent;
    font-family: 'Poppins', sans-serif;
    padding: 12px 0;
    color: #1f1652;
    font-size:13px ;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0 , 0.3);
  }
  .table_cell{
    display: table-cell;
    width: 30%;
    text-align: center;
    padding: 4px 0;
    border-left: 1px solid #d6d4d4;
    vertical-align: middle;
    
  }
  .actionIcons{
    display: flex;
    justify-content: space-around;

  }
#editIcon{
    width: 20px;
}
#deleteIcon{
    width: 20px;
}
.table_head{
    background: #998fdd;
    box-shadow: none;
    color: #1f1652;
    font-weight: 600;
    border-top-right-radius:20px;
    border-top-left-radius:20px;
}
.table_head .table_cell {
    border-left: none;
}
.first_cell{
    width: 150px;
    padding:0 10px;
}

/* the end of Table design CSS */
/* ################################# */

/* the end of main CSS */
/* ################################# */
/* the beginning of footer CSS */

footer {
   height: 10%;
    background: #9e9bb1;
    margin-left: -38px;
}
footer h3{
    text-align: center;
    width: auto;
   
    line-height: 80px;
}
/* the end of footer CSS */

@media(max-width: 909px) {

    /* The beginnig of Sidebar section CSS */
    /* ################################# */

    .leftSide {
        width: 30%;
    }

    #my__logo {
        margin: 40px 10px;
        max-width: 60px;
        padding: 0 10px;
        background: #fff;
        border-radius: 20px;
    }
    #profile {
       display: none;
    }
    hr{
        display: none;
    }
    #my__name{
        display: none;
    }
    #my__nameSidebar{
        display: block;
       
    }
    #profileSidebar {
        display: block;
    }
    nav ul{
        position: fixed;
        top: 0;
        left: -150px;
        transition: all .5s;
        border-top-right-radius: 20px;
    }
    nav ul li{
      padding-top: -60px;
    }
    /* The end of Sidebar section CSS */
    /* ################################# */

      /* The beginning header of Sidebar section CSS */
    /* ################################# */
header{
    margin-right: -40px;
}
    .menu{
        cursor: pointer;
        display: block;
        float: right;
        padding: 10px;
        margin-top: -10px;
    }
    #setting{
        max-width: 25px;
    }

      /* The end of header section CSS */
    /* ################################# */

 /* The beginning of Main section CSS */
    /* ################################# */
    .cards_Main_bords{
        flex-direction: column;
    }
    #likeICN{
        top: 120px;
        margin-left: -60px;
    }
    #viewICN{
       
       
    }
    #comentICN{
       
       
    }
    .leftCards label{
        margin-bottom: -20px; 
        margin-left: -7px;

    }
    .rightCards label{
        width: 150px;
        margin-bottom: 20px; 

    }
   /* DASHBOARD OF LIST OF ARTICLES */
   /* ################################# */
  
/* The beginning of Main section CSS */
    /* ################################# */
}

@media(max-width: 600px){

    /* The the beginnig of Sidebar section CSS */
    /* ################################# */

    #profileSidebar {
     margin: -30px auto;
    }
    #my__nameSidebar{
        margin-top: 35px ;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: auto;
    }
    nav ul {
        margin: auto;
        width: 250px;
    }
    nav ul li a{
        font-size: 12px;
    }
  
          /* The beginning header of Sidebar section CSS */
    /* ################################# */
header{
    margin-right: -40px;
}
    .menu{
        display: block;
        float: right;
        padding: 10px;
        margin-top: -10px;
    }
    #setting{
        max-width: 35px;
    }

      /* The end of header section CSS */
    /* ################################# */

         /* The beginning of main section CSS */
    /* ################################# */

.leftCards label{
    width: 140px;
    margin: 10px 0;
  
}
.rightCards{
    margin-top: 0;
}
.rightCards label{
    width: 140px;
    padding: 20px 0 20px 40px;
    margin: 10px 0;
}
#word{
    position: fixed;
    font-size: 1rem;
    margin-top: 0px;
   
}
.cards_Main_bords #count{
    position: relative;
    font-size: 1rem;
     padding: 20px 20px;
    margin-left: 71px;
    margin-top: -30px;
      
}
#likeICN{
   
    margin-top: -12px
}
#viewICN{
   
    margin-top: -12px
}
#comentICN{
   
    margin-top: -12px
}
/* THE BEGINNING OF TABLE DESIGN */
/* ################################## */
.table_box{
  width: 430px;
  margin-left: -90px;
    
}  
.table_row{
    font-size: 10px;
}
#editIcon{
    width: 15px;
    height: 15px;
}
#deleteIcon{
    width: 15px;
    height: 15px;
}
.last_cell{
    padding-right: 10px;
}
/* THE END OF TABLE DESIGN */
/* ################################## */
/* THE BEGINNING OF FOOTER DESIGN */
footer{
    display: none;
}
}