
body {
    margin: 0;
    padding: 0;
    background: #F9FAFB;
    font-family: 'Poppins', sans-serif;
}

.header {
    margin: 15px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}

.navbar {
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;

}

.manu ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.manu ul li a {
    text-decoration: none;
    color: #000;
    ;

}

.manu ul li a::after {
    content: "";
    height: 2px;
    width: 0%;
    background: crimson;
    display: block;
    transition: .5s ease-in-out;
}

.manu ul li a:hover::after {
    content: "";
    height: 2px;
    width: 100%;
    background: crimson;
    display: block;
}


.logo {
    list-style-type: none;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 10px;
}

.logo li a {
    text-decoration: none;
    color: black;
}

.logo li a:hover {

    color: crimson;
    transition-duration: 1000ms;
}

.heros {
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.photo {
    max-width: 20%;
    border-radius: 50%;
    margin-top: -90px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}
.welcomeTextLeft{
    max-width: 600px;
}

.welcomeTextLeft h4 {
    font-family: monospace;
    padding-left: 40px;
    margin-bottom: -30px;
    font-size: x-large;
    color: crimson;
}
.welcomeTextLeft #myName{
    color:rgb(116, 116, 116);
    font-family:monospace;
    font-size: x-large;
}

.welcomeTextLeft h1 {
    font-size: 40px;
    margin-bottom: -2px;
    color: rgb(116, 116, 116);
    padding-left: 40px;
}
.biographie{
    color: gray;
  
}
.btn {
    display: flex;
    gap: 15px;
    margin-top: 15px;

}

.btn li {
    list-style: none;



}

.btn li a {
    text-decoration: none;
    color: black;
    gap: 40px;
    font-size: 20px;

}

.btn-btn {
    background-color: crimson;
    padding: 7px 15px 10px 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn li a {
    color: azure;
}

.btn-btn:hover {
    background-color: transparent;
    color: crimson;
    transition-duration: 500ms;
}

.portrate {
    cursor: pointer;
    background:#fff;
     margin-top: 100px;
    max-width: 300px;
    max-height: 200px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
   /*  background:rgb(253, 251, 251); */
}
.portrate:hover{
    transform: translate(-3px);
    transition-duration: 500ms;
    box-shadow: 0px 4px 8px rgb(235, 131, 131, 0.3);
    
}

.portrate #motivation {
    color: darkgray;
    text-align: left;
}
#lName{
    color: crimson;
}
#mister{
    color: crimson; 
}
.aboutMe{
    margin: 20px 100px 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding-bottom: 30px;
}
.aboutPhoto{
    max-width: 300px;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
   
}
.leftSide{
    padding-bottom: 30px;
}
.AboutMe{
    font-size: 32px;
    background: -webkit-linear-gradient(#eee, crimson);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-top: 50px;
}
